* {
    padding: 0;
    margin: 0;
}

body {
    background-image: linear-gradient(to right, #c6c91e, yellow
    );
}

header {
    border-bottom: 1px solid #82C91E;
    text-align: center;
    font-size: 15px;
}

.add-task {
    margin-left: 40%;
    margin-top: 50px;
    width: 285px;
    background-color: white;
    border: 1px solid black;
}

.add-task input {
    width: 250px;
    height: 33px;
    border: none;
    padding-left: 7px;
}

.add-task button {
    border: none;
    background-color: transparent;
}

.fa-plus-circle {
    font-size: 21px;
    color: rgb(64, 187, 8);
    padding-top: 5px;
}

.fa-trash, .fa-check-circle {
    font-size: 21px;
    color: yellow;
    padding-top: 5px;
    pointer-events: none;
}
.to-do-list ul {
    margin-top: 20px;
    list-style: none;
}

.to-do-list ul > div {
    border: 1px solid black;
    width: 285px;
    height: 38px;
    margin-left: 40%;
    margin-top: 5px;
}

.to-do-list ul li {
    display: grid;
    height: 38px;
    grid-template-columns: 1fr 5fr 1fr;
    color: white;
    text-decoration-color: black;
}

.to-do-list ul li .checked {
    border: none;
    background-color: rgb(64, 187, 8);
}

.to-do-list ul li .trash {
    background-color: rgb(255, 45, 45);
    border: none;
}

.to-do-list ul li p {
    background-color: #ffffff;
    padding-left: 10px;
    padding-top: 10px;
    color: rgb(13, 48, 6);
    text-align: center;
}

.completed {
    text-decoration: line-through;
    text-decoration-color: black;
    opacity: 0.5;
    transition: all 1s ease;
}

.trash-slide {
    margin-left: 50px;
}